@charset "utf-8";

#headerWrap .bgcolor{
    position: absolute;
    width: 100%;height: 600px;
    background-image: linear-gradient(316deg, #02ccba 0%, #aa7ecd 100%);
    transform:skew(0,-15deg);
    left:0;top:-260px
}
#headerWrap .video video{
    width: 100%;object-fit: fill;
    border-radius: 5px;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4)
}
#headerWrap .video .txt{position: absolute;bottom: 10px;left: 30px;}
#headerWrap .card-view{
    border-radius: 5px;overflow: hidden;
    box-shadow:10px 10px 25px rgba(0,0,0,0.4)
}

.slider .slider-title{color:#7d97ad; font-size: 15px;}