@charset 'utf-8';
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

/* header  */
#header{min-width:1200px}
.util_menu_wrap{background: #0044af;}
.util_menu{width: 1200px;margin: 0 auto;}
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left;margin-right:2px;}
.util_menu .left a{
    display: block;text-align: center;line-height: 40px;
    background: #00163b;color:#fff;width: 120px;
}
.util_menu .left a.active,
.util_menu .left a:hover{background: #fff;color: #333;}

.util_menu .right li{float: left;}
.util_menu .right a{
    display: block;line-height: 40px;color:#fff;padding: 0 10px;
}
.util_menu .right li:nth-child(2){

}
.util_menu .right li:nth-child(2) a{
    float: left;background: #fff;color:#000;
    line-height: 20px;width: 20px;padding: 0;text-align: center;margin-right:2px;
    margin-top: 10px;
}

.main_menu_wrap{width: 1200px;margin: 0 auto;height: 115px;background: skyblue;}


/* contents  */
.contents{
    height: 1300px; /* 나중에 삭제 */
    min-width:1200px;
    background-color:gray;
    background-image: url(../images/bg_dot.gif),url(../images/main_bg.jpg);
    background-repeat: repeat,no-repeat;
    background-position:center;
    background-size: auto,cover;
    padding-top: 75px;
}
.contents .title{
    width: 1200px;margin: 0 auto;height: 130px;background: blue;
    margin-bottom: 55px;
}

.container{width: 1200px;margin: 0 auto;background: #ddd;}
.container>ul>li{float: left;}